<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.witsdaily">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wits Daily"
        android:minSdkVersion="8"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".Forum.ForumAddPost"
            android:theme="@style/Theme.AppCompat.Dialog"
        />
        <activity
            android:name=".Forum.ViewForum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Forum.LectureCourseForum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Survey.SurveyAnswer"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Survey.SurveyCreator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Survey.SurveyViewer"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".EnrollDialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".UnregisteredCourses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnnouncementSender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseDisplay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".courseLink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseRegistration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewSession"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".editSessions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".editCourse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addSession"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".timetable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="activity_login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegistration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>