<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.witsdaily">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wits_logo"
        android:label="@string/app_name"
        android:minSdkVersion="8"
        android:roundIcon="@mipmap/wits_logo"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Venue.RoomView"
            android:label="roomView"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MaterialComponents.Dialog.Alert"/>

        <activity
            android:name=".viewEventDetails"
            android:theme="@style/MyTheme.DayNight" />
      
        <activity
            android:name=".viewBookedSlots"
            android:label="viewBookedSLots"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".bookActivity"
            android:label="book"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".makeBooking"
            android:label="@string/title_activity_make_booking"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".viewBookableSessions"
            android:label="@string/title_activity_view_bookable_sessions"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".addTutors"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".LiveQuestions"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Forum.ForumAddPost"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Forum.ViewForum"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Forum.LectureCourseForum"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Venue.VenueList"
            android:label="@string/title_activity_venue_list"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/venue_search"></meta-data>
        </activity>
        <activity
            android:name=".Survey.SurveyAnswer"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MaterialComponents.Dialog.Alert" />
        <activity
            android:name=".Survey.SurveyCreator"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Survey.SurveyViewer"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MaterialComponents.Dialog.Alert" />
        <activity
            android:name=".ChatActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".EnrollDialog"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MaterialComponents.Dialog.Alert" />
        <activity
            android:name=".AnnouncementSender"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Course.CourseDisplay"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Course.courseLink"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".Course.CourseRegistration"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".viewSession"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".editSessions"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".editCourse"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".addSession"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".timetable"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegistration"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:launchMode="singleInstance"
            android:theme="@style/MyTheme.DayNight" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>